<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A598</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AccuWeather</string>
	<key>CFBundleExecutable</key>
	<string>AccuWeather</string>
	<key>CFBundleIconFile</key>
	<string>icon57x57.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon20x20.png</string>
		<string>icon29x29.png</string>
		<string>icon30x30.png</string>
		<string>icon40x40.png</string>
		<string>icon50x50.png</string>
		<string>icon57x57.png</string>
		<string>icon58x58.png</string>
		<string>icon60x60.png</string>
		<string>icon72x72.png</string>
		<string>icon100x100.png</string>
		<string>icon114x114.png</string>
		<string>icon144x144.png</string>
		<string>icon512x512.png</string>
		<string>icon1024x1024.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon20x20.png</string>
				<string>icon29x29.png</string>
				<string>icon30x30.png</string>
				<string>icon40x40.png</string>
				<string>icon50x50.png</string>
				<string>icon57x57.png</string>
				<string>icon58x58.png</string>
				<string>icon60x60.png</string>
				<string>icon72x72.png</string>
				<string>icon100x100.png</string>
				<string>icon114x114.png</string>
				<string>icon144x144.png</string>
				<string>icon512x512.png</string>
				<string>icon1024x1024.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.TestWithCustomTabs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AccuWeather</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb263111297051918</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.0.5</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10B141</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.1</string>
	<key>DTSDKBuild</key>
	<string>10B141</string>
	<key>DTSDKName</key>
	<string>iphoneos6.1</string>
	<key>DTXcode</key>
	<string>0463</string>
	<key>DTXcodeBuild</key>
	<string>4H1503</string>
	<key>FacebookAppID</key>
	<string>263111297051918</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>UtopiaStd-SemiboldSubhIt.otf</string>
		<string>HelveticaNeueLTCom-Bd.ttf</string>
		<string>HelveticaNeueLTCom-Cn.ttf</string>
		<string>HelveticaNeueLTCom-Lt.ttf</string>
		<string>HelveticaNeueLTCom-MdCn.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleBlack</string>
			<key>Translucent</key>
			<true/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
