<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12F45</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Adobe Ideas</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adobe Ideas 1.0 data export</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.ideas.ideasxport.1v0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>AdobeIdeas</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-40.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-76.png</string>
		<string>Icon-80.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-100.png</string>
		<string>Icon-120.png</string>
		<string>Icon-144.png</string>
		<string>Icon-152.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-40.png</string>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
				<string>Icon-72.png</string>
				<string>Icon-76.png</string>
				<string>Icon-80.png</string>
				<string>Icon-Small.png</string>
				<string>Icon-Small@2x.png</string>
				<string>Icon-Small-50.png</string>
				<string>Icon-100.png</string>
				<string>Icon-120.png</string>
				<string>Icon-144.png</string>
				<string>Icon-152.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.ideas.ipad</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Adobe Ideas</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>2.7.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.adobe.ideas.urlscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>adobeideas</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>45918</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B508</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11B508</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<string>YES</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>com.adobe.sharedKeychainGroup</key>
	<string>QFRAMDQVL3.com.adobe.creativecloud</string>
</dict>
</plist>
