<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppStoreID</key>
	<string>328415391</string>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Fantasy</string>
	<key>CFBundleExecutable</key>
	<string>FantasyFootball</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>iOS7-iPhone-120x120</string>
		<string>iOS6-iPhone-114x114</string>
		<string>iOS6-iPhone-57x57</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>iOS7-iPad-152x152</string>
		<string>iOS7-iPad-76x76</string>
		<string>iOS6-ipad-144x144</string>
		<string>iOS6-ipad-72x72</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.yahoo.ffootball2009</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FantasyFootball</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>5.3.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.yahoo.yfootball</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>yfootball</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.3.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A465</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A465</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1413</string>
	<key>KillswitchString</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.1</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>FantasyV2-Black.ttf</string>
		<string>Fantasy-Book.ttf</string>
		<string>Fantasy-Bold.ttf</string>
		<string>Fantasy-Medium.ttf</string>
		<string>FantasyV2-Bold.ttf</string>
		<string>Fantasy-Light.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>YAdSdkAppId</key>
	<string>76073D10-7C24-4EA5-B93F-FF5CD901B615</string>
	<key>YAdSdkEventTrackingEnabled</key>
	<string>NO</string>
	<key>YAdSdkGeoTrackingEnabled</key>
	<false/>
	<key>YAdSdkLogLevel</key>
	<string>Error</string>
	<key>YAdSdkPartnerName</key>
	<string>yahoo_mobile_us_app</string>
	<key>YAdSdkProjectId</key>
	<string>10002124371162</string>
	<key>YAdSdkPropertyId</key>
	<string>622</string>
	<key>YI13NConfigOptionAppSpaceid</key>
	<string>954004777</string>
	<key>YI13NConfigOptionYWAProjectID</key>
	<string>1734560379</string>
	<key>YahooPropertyId</key>
	<string>622</string>
</dict>
</plist>
