<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Credit Karma</string>
	<key>CFBundleExecutable</key>
	<string>Credit Karma</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>120 x 120</string>
				<string>icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.creditkarma.mobile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Credit Karma</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb170840887919</string>
				<string>fb257321544393155</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.creditkarma.CreditKarma</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CreditKarma</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1054</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A465</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A465</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1412</string>
	<key>FacebookAppID</key>
	<string>170840887919</string>
	<key>FacebookDisplayName</key>
	<string>Credit Karma</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>helvetica-neue-lt-com-75-bold.ttf</string>
		<string>HelveticaNeueTT.ttf</string>
		<string>HelveticaNeueLT57Condensed.ttf</string>
		<string>helveticaNeue87Condensed.ttf</string>
		<string>HelveticaNeue BlackCond.ttf</string>
		<string>HelveticaNeueLTStd-Roman.ttf</string>
		<string>HelveticaNeueLTStd-Bd.ttf</string>
		<string>HelveticaLTStd-Roman.ttf</string>
		<string>HelveticaNeueLTStd-Cn.ttf</string>
		<string>HelveticaNeueLTStd-HvCn.ttf</string>
		<string>HelveticaNeueMedium.ttf</string>
		<string>HelveticaNeue-Bold.ttf</string>
		<string>HelveticaNeue.ttf</string>
		<string>HelveticaNeueBold.ttf</string>
		<string>HelveticaNeueLight.ttf</string>
		<string>HelveticaNeue-HeavyCond.ttf</string>
		<string>HelveticaNeueLTPro-Bd.otf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UILaunchImageFile~iphone</key>
	<string>Default.png</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>facebookSandBoxAppId</key>
	<string>257321544393155</string>
</dict>
</plist>
