<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A603</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Fab</string>
	<key>CFBundleExecutable</key>
	<string>Fab</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon-iPad.png</string>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
		<string>icon-iPad@2x.png</string>
		<string>icon-iPad@2x.png</string>
		<string>Default-Landscape@2x~ipad.png</string>
		<string>Default-Portrait@2x~ipad.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
				<string>AppIcon50x50</string>
				<string>AppIcon72x72</string>
				<string>AppIcon76x76</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.fab.version1</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleName</key>
	<string>Fab</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.fb.production</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb105523866144321</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.de.production</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb362720547084883</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb324191535647</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.eu.staging</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb283845258392458</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.fab.external</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.fab</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.port</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb657710317572790</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.eu.port</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb107150312773485</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.mpm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb474163125934206</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.eu.mpm</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb283845258392457</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.inky</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb428961050478385</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.eu.inky</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb283845258392457</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>AdXURL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ADX1355</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.pune12</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb183237625188325</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>icon</string>
			<key>CFBundleURLName</key>
			<string>com.us.pune15</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1381765542055488</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.2</string>
	<key>CurrentEnvironment</key>
	<integer>1</integer>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A465</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A465</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1413</string>
	<key>Environments</key>
	<array>
		<string>http%@://fab.com/</string>
		<string>http%@://glistr.com/</string>
		<string>http://glistr.com:8529/</string>
		<string>http%@://fab.de/</string>
		<string>http://127.0.0.1:3000/</string>
	</array>
	<key>FacebookAPIKey</key>
	<array>
		<string>105523866144321</string>
		<string>324191535647</string>
		<string>112417838797406</string>
		<string>152852854228</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow-iPad</string>
	<key>UIAppFonts</key>
	<array>
		<string>TeXGyreAdventor-Bold.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImageFile</key>
	<string>LaunchImage</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>store_version</key>
	<string>1</string>
	<key>stores</key>
	<dict>
		<key>de</key>
		<dict>
			<key>display_name</key>
			<string>Fab Europe</string>
			<key>facebook_client_token</key>
			<string>7a66ed39772a3620b54fea16af2cfae1</string>
			<key>facebook_key</key>
			<string>362720547084883</string>
			<key>google_analytics_key</key>
			<string>UA-24396357-1</string>
			<key>image_domain</key>
			<string>http://d15bx2axpp9a1x.cloudfront.net/</string>
			<key>image_url</key>
			<string>store_icon_de</string>
			<key>store_domain</key>
			<string>http%@://eu.fab.com/</string>
			<key>supported_currencies</key>
			<dict>
				<key>EUR</key>
				<string>euro</string>
				<key>GBP</key>
				<string>pound</string>
			</dict>
			<key>supported_languages</key>
			<dict>
				<key>de_DE</key>
				<string>Deustch</string>
				<key>en_US</key>
				<string>English</string>
			</dict>
		</dict>
		<key>us</key>
		<dict>
			<key>display_name</key>
			<string>Fab US</string>
			<key>facebook_client_token</key>
			<string>eb7913ccaf956f6166bb75d7341c3f33</string>
			<key>facebook_key</key>
			<string>105523866144321</string>
			<key>google_analytics_key</key>
			<string>UA-19838455-1</string>
			<key>image_domain</key>
			<string>http://dnok91peocsw3.cloudfront.net/</string>
			<key>image_url</key>
			<string>store_icon_us</string>
			<key>store_domain</key>
			<string>http%@://fab.com/</string>
			<key>supported_currencies</key>
			<dict>
				<key>USD</key>
				<string>dollar</string>
			</dict>
			<key>supported_languages</key>
			<dict>
				<key>en_US</key>
				<string>English</string>
			</dict>
		</dict>
	</dict>
	<key>supported_languages</key>
	<dict>
		<key>de_DE</key>
		<string>Deustch</string>
		<key>en_US</key>
		<string>English</string>
	</dict>
</dict>
</plist>
