<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppiraterAppID</key>
	<string>284882215</string>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Facebook</string>
	<key>CFBundleExecutable</key>
	<string>Facebook</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-40.png</string>
		<string>Icon-40@2x.png</string>
		<string>Icon-76.png</string>
		<string>Icon-76@2x.png</string>
		<string>Icon-120.png</string>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-50@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.facebook.Facebook</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Facebook</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>6.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fbauth2</string>
				<string>fbauth</string>
				<string>fb</string>
				<string>fblogin</string>
				<string>fbapi20130214</string>
				<string>fbapi20130410</string>
				<string>fbapi20130702</string>
				<string>fbapi20131010</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>745892</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B508</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11B508</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>FBAppModules</key>
	<array>
		<string>FBCrowdsourcingModule</string>
		<string>FBComposeModule</string>
		<string>FBFeedModule</string>
		<string>FBMessengerModule</string>
		<string>FBSSOModule</string>
		<string>FBPhotoModule</string>
		<string>FBInternalSettingsModule</string>
		<string>FBURLHandlerModule</string>
		<string>FBPlacesModule</string>
		<string>FBNearbyFriendsModule</string>
		<string>FBGraphSearchModule</string>
		<string>FBEventsModule</string>
		<string>FBGiftModule</string>
		<string>FBNonceLoginModule</string>
		<string>FBTimelineModule</string>
		<string>FBPagesModule</string>
		<string>FBGroupsModule</string>
		<string>FBPlatformModule</string>
		<string>FBApplicationModule</string>
		<string>FBPaymentsModule</string>
		<string>FBGrowthModule</string>
		<string>FBAppCenterModule</string>
		<string>FBDiscoveryModule</string>
		<string>FBStarRatingsModule</string>
		<string>FBPeopleModule</string>
	</array>
	<key>FBAppModules~ipad</key>
	<array>
		<string>FBCrowdsourcingModule</string>
		<string>FBComposeModule</string>
		<string>FBFeedModule</string>
		<string>FBMessengerModule</string>
		<string>FBSSOModule</string>
		<string>FBPhotoModule</string>
		<string>FBInternalSettingsModule</string>
		<string>FBURLHandlerModule</string>
		<string>FBNearbyModule</string>
		<string>FBEventsModule</string>
		<string>FBGiftModule</string>
		<string>FBNonceLoginModule</string>
		<string>FBGroupsModule</string>
		<string>FBTimelineModule</string>
		<string>FBPlatformModule</string>
		<string>FBApplicationModule</string>
		<string>FBPagesModule</string>
		<string>FBPaymentsModule</string>
		<string>FBGrowthModule</string>
		<string>FBAppCenterModule</string>
		<string>FBDiscoveryModule</string>
		<string>FBStarRatingsModule</string>
	</array>
	<key>FBPlatformVersion</key>
	<string>6.8</string>
	<key>FacebookAppID</key>
	<string>6628568379</string>
	<key>FacebookAppID~ipad</key>
	<string>173847642670370</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows you to share photos from your library and save photos to your camera roll. </string>
	<key>NSPrincipalClass</key>
	<string>FBApplication</string>
	<key>Nuxes</key>
	<array>
		<dict>
			<key>name</key>
			<string>NUX for swipe for photos in timeline redesigned</string>
			<key>nuxID</key>
			<string>2139</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tab bar Messenger redirect tooltip NUX</string>
			<key>nuxID</key>
			<string>2069</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Multistep Intersititial NUX</string>
			<key>nuxID</key>
			<string>2059</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Messages Interstitial</string>
			<key>nuxID</key>
			<string>2015</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Megaphone</string>
			<key>nuxID</key>
			<string>1821</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tag Other Friends</string>
			<key>nuxID</key>
			<string>1968</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Graph Search Interstitial</string>
			<key>nuxID</key>
			<string>2045</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Interstitial NUX</string>
			<key>nuxID</key>
			<string>1817</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Footer NUX</string>
			<key>nuxID</key>
			<string>1819</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Quick Promotion Divebar NUX</string>
			<key>nuxID</key>
			<string>1823</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chat Heads Nux</string>
			<key>nuxID</key>
			<string>1782</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Recent Photo Beeper Prompt</string>
			<key>nuxID</key>
			<string>2106</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nearby Friends Interstitial</string>
			<key>nuxID</key>
			<string>1631</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Account Confirmation Nux</string>
			<key>nuxID</key>
			<string>1831</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tab Navigation Tooltip</string>
			<key>nuxID</key>
			<string>1663</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Contact Importer Interstitial</string>
			<key>nuxID</key>
			<string>1629</string>
		</dict>
		<dict>
			<key>name</key>
			<string>New Account NUX Interstitial</string>
			<key>nuxID</key>
			<string>1613</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Zero-Rating Interstitial</string>
			<key>nuxID</key>
			<string>1669</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Profile Helper Interstitial</string>
			<key>nuxID</key>
			<string>1970</string>
		</dict>
	</array>
	<key>SoftwareName</key>
	<string>Facebook for iPhone/iPad</string>
	<key>UIAppFonts</key>
	<array>
		<string>FBAppKitResources/FacebookIcons-Regular.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>voip</string>
		<string>audio</string>
		<string>location</string>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-iOS7</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-iOS7</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-iOS7-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-iOS7-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackOpaque</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIViewGroupOpacity</key>
	<false/>
</dict>
</plist>
