<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>FaceTime</string>
	<key>CFBundleExecutable</key>
	<string>FaceTime</string>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon-FaceTime~ipad</string>
		<string>Icon-FaceTime@2x~ipad</string>
		<string>Icon-FaceTime-Small~ipad</string>
		<string>Icon-FaceTime-Small@2x~ipad</string>
	</array>
	<key>CFBundleIconFiles~iphone</key>
	<array>
		<string>Icon-FaceTime~iphone</string>
		<string>Icon-FaceTime@2x~iphone</string>
		<string>Icon-FaceTime-Small~iphone</string>
		<string>Icon-FaceTime-Small@2x~iphone</string>
	</array>
	<key>CFBundleIconFiles~ipod</key>
	<array>
		<string>Icon-FaceTime~iphone</string>
		<string>Icon-FaceTime@2x~iphone</string>
		<string>Icon-FaceTime-Small~iphone</string>
		<string>Icon-FaceTime-Small@2x~iphone</string>
	</array>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-FaceTime~ipad</string>
				<string>Icon-FaceTime@2x~ipad</string>
				<string>Icon-FaceTime-Small-29~ipad</string>
				<string>Icon-FaceTime-Small-29@2x~ipad</string>
				<string>Icon-FaceTime-Small~ipad</string>
				<string>Icon-FaceTime-Small@2x~ipad</string>
				<string>Icon-FaceTime-BB~ipad</string>
				<string>Icon-FaceTime-BB@2x~ipad</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~iphone</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-FaceTime~iphone</string>
				<string>Icon-FaceTime@2x~iphone</string>
				<string>Icon-FaceTime-Small~iphone</string>
				<string>Icon-FaceTime-Small@2x~iphone</string>
				<string>Icon-FaceTime-BB~iphone</string>
				<string>Icon-FaceTime-BB@2x~iphone</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipod</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-FaceTime~iphone</string>
				<string>Icon-FaceTime@2x~iphone</string>
				<string>Icon-FaceTime-Small~iphone</string>
				<string>Icon-FaceTime-Small@2x~iphone</string>
				<string>Icon-FaceTime-BB~iphone</string>
				<string>Icon-FaceTime-BB@2x~iphone</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.facetime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>36</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>FaceTime URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>facetime</string>
				<string>facetime-prompt</string>
				<string>facetime-audio</string>
				<string>facetime-audio-prompt</string>
			</array>
			<key>SBRequiredCapabilities</key>
			<array>
				<string>venice</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>NSPrincipalClass</key>
	<string>FaceTimeApplication</string>
	<key>PrivateURLSchemes</key>
	<array>
		<string>facetime-accept</string>
		<string>facetime-lock</string>
		<string>facetime-show</string>
		<string>facetime-audio-accept</string>
		<string>facetime-audio-lock</string>
		<string>facetime-audio-show</string>
	</array>
	<key>SBAppTags</key>
	<array>
		<string>any-telephony</string>
		<string>venice</string>
	</array>
	<key>SBBehavesAsCaller</key>
	<string>YES</string>
	<key>SBIsLaunchableDuringSetup</key>
	<true/>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Productivity</string>
		<string>Business</string>
		<string>Social Networking</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>continuous</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIJetsamPriority</key>
	<integer>10</integer>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipod</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
