<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11G63</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>Happy Hour</string>
	<key>CFBundleExecutable</key>
	<string>Happy Hour</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default@2x.png</string>
		<string>Default.png</string>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon72.png</string>
		<string>icon144.png</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Default@2x.png</string>
				<string>Default.png</string>
				<string>icon.png</string>
				<string>icon@2x.png</string>
				<string>icon72.png</string>
				<string>icon144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.powerhappyhour.HappyHoursMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
	</array>
	<key>CFBundleName</key>
	<string>Happy Hour</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>3.4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B141</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.1</string>
	<key>DTSDKBuild</key>
	<string>10B141</string>
	<key>DTSDKName</key>
	<string>iphoneos6.1</string>
	<key>DTXcode</key>
	<string>0460</string>
	<key>DTXcodeBuild</key>
	<string>4H127</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Vitesse-Black.otf</string>
		<string>Vitesse-BlackItalic.otf</string>
		<string>Vitesse-Bold.otf</string>
		<string>Vitesse-BoldItalic.otf</string>
		<string>Vitesse-Book.otf</string>
		<string>Vitesse-BookItalic.otf</string>
		<string>Vitesse-Light.otf</string>
		<string>Vitesse-LightItalic.otf</string>
		<string>Vitesse-Medium.otf</string>
		<string>Vitesse-MediumItalic.otf</string>
		<string>Vitesse-Thin.otf</string>
		<string>Vitesse-ThinItalic.otf</string>
	</array>
	<key>UIApplicationExitsOnSuspend</key>
	<false/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>armv6</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
