<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Instagram</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.gram</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon</string>
				<string>Icon@2x</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo Exclusive</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.exclusivegram</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Instagram</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-57.png</string>
		<string>Icon-57@2x.png</string>
		<string>Icon-60@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.burbn.instagram</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0.0</string>
	<key>CFBundleName</key>
	<string>Instagram</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>Icon</string>
			<key>CFBundleURLName</key>
			<string>com.burbn.instagram</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb124024574287414</string>
				<string>instagram</string>
				<string>fsq+kylm3gjcbtswk4rambrt4uyzq1dqcoc0n2hyjgcvbcbe54rj+post</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>887420</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11B508</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11B508</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0502</string>
	<key>DTXcodeBuild</key>
	<string>5A3005</string>
	<key>FacebookAppID</key>
	<string>124024574287414</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSContactsUsageDescription</key>
	<string>This allows Instagram to find your friends so that your can share photos with them.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This allows Instagram to share photos from your library and save photos to your camera roll.</string>
	<key>UIAppFonts</key>
	<array>
		<string>FreigSanProSem.otf</string>
		<string>FreigSanProMed.otf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Instagram Photo</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.gram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ig</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>Instagram Photo Exclusive</string>
			<key>UTTypeIdentifier</key>
			<string>com.instagram.exclusivegram</string>
			<key>UTTypeSize320IconFile</key>
			<string>Icon@2x</string>
			<key>UTTypeSize64IconFile</key>
			<string>Icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>igo</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
