<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CAProcessCanAccessGPU</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Maps</string>
	<key>CFBundleExecutable</key>
	<string>Maps</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon~ipad.png</string>
				<string>icon@2x~ipad.png</string>
				<string>icon@2x~iphone.png</string>
				<string>icon-table@2x.png</string>
				<string>icon-table~ipad.png</string>
				<string>icon-spotlight~ipad.png</string>
				<string>icon-spotlight@2x.png</string>
				<string>icon-about~ipad.png</string>
				<string>icon-about@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150.png</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Maps</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-maps-reopen</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>map</string>
				<string>maps</string>
				<string>mapitem</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-maps-route-genius</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>InstallDeviceClasses</key>
	<array>
		<string>iPad</string>
		<string>iPhone</string>
		<string>iPod</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>SBAppUsesLocalNotifications</key>
	<true/>
	<key>SBMachServices</key>
	<array>
		<string>com.apple.Maps.IPC</string>
		<string>com.apple.uikit.viewservice.com.apple.Maps</string>
		<string>com.apple.assistant.contextprovider.com.apple.Maps</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Navigation</string>
		<string>Travel</string>
		<string>Reference</string>
	</array>
	<key>SBStarkCapable</key>
	<true/>
	<key>SBStarkStatusBarIsTranslucent</key>
	<true/>
	<key>SBUsesNetwork</key>
	<integer>3</integer>
	<key>UIApplicationShouldDisableScreenJail</key>
	<string>YES</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImageFile</key>
	<array>
		<string>Default</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UIViewServiceUsesNSXPCConnection</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MKDirectionsRequest</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.maps.directionsrequest</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkdirectionsrequest</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
