<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Safari</string>
	<key>CFBundleExecutable</key>
	<string>MobileSafari</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon-spotlight~ipad.png</string>
				<string>icon-table~ipad.png</string>
				<string>icon-about~ipad.png</string>
				<string>icon-table~ipad.png</string>
				<string>icon-spotlight@2x.png</string>
				<string>icon-table@2x.png</string>
				<string>icon~ipad.png</string>
				<string>icon-about@2x.png</string>
				<string>icon@2x~iphone.png</string>
				<string>icon@2x~ipad.png</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobilesafari</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>7.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes~ipad</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Web App URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webclip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web Search URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-web-search</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>MobileSafari Tab URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com-apple-mobilesafari-tab</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~iphone</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Web App URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webclip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Radar URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rdar</string>
				<string>radar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web Search URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-web-search</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>MobileSafari Tab URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com-apple-mobilesafari-tab</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~ipod</key>
	<array>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>Web App URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>webclip</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Radar URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rdar</string>
				<string>radar</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>FTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ftp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web Search URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-web-search</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLIsPrivate</key>
			<true/>
			<key>CFBundleURLName</key>
			<string>MobileSafari Tab URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com-apple-mobilesafari-tab</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9537.53</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MallocBehavior</key>
	<dict>
		<key>NanoAllocator</key>
		<false/>
	</dict>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Productivity</string>
		<string>Utilities</string>
	</array>
	<key>SBUsesNetwork</key>
	<integer>3</integer>
	<key>SafariProductVersion</key>
	<string>7.0</string>
	<key>UIApplicationDisableLegacyAutorotationKey</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>continuousFallback</string>
	</array>
	<key>UIBackgroundStyle</key>
	<string>UIBackgroundStyleDarkBlur</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIHasPrefs</key>
	<true/>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
