<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Phone</string>
	<key>CFBundleExecutable</key>
	<string>MobilePhone</string>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>icon~ipad</string>
		<string>icon@2x~ipad</string>
		<string>Icon-Small~ipad</string>
		<string>Icon-Small@2x~ipad</string>
	</array>
	<key>CFBundleIconFiles~iphone</key>
	<array>
		<string>icon~iphone</string>
		<string>icon@2x~iphone</string>
		<string>Icon-Small~iphone</string>
		<string>Icon-Small@2x~iphone</string>
	</array>
	<key>CFBundleIconFiles~ipod</key>
	<array>
		<string>icon~iphone</string>
		<string>icon@2x~iphone</string>
		<string>Icon-Small~iphone</string>
		<string>Icon-Small@2x~iphone</string>
	</array>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon~ipad</string>
				<string>icon@2x~ipad</string>
				<string>Icon-Small~ipad</string>
				<string>Icon-Small@2x~ipad</string>
				<string>Icon-BB~ipad</string>
				<string>Icon-BB@2x~ipad</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~iphone</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon~iphone</string>
				<string>icon@2x~iphone</string>
				<string>Icon-Small~iphone</string>
				<string>Icon-Small@2x~iphone</string>
				<string>Icon-BB~iphone</string>
				<string>Icon-BB@2x~iphone</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipod</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon~iphone</string>
				<string>icon@2x~iphone</string>
				<string>Icon-Small~iphone</string>
				<string>Icon-Small@2x~iphone</string>
				<string>Icon-BB~iphone</string>
				<string>Icon-BB@2x~iphone</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.mobilephone</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>36</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Telephony URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tel</string>
				<string>telprompt</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>NSPrincipalClass</key>
	<string>MobilePhoneApplication</string>
	<key>PrivateURLSchemes</key>
	<array>
		<string>callto</string>
		<string>telshow</string>
		<string>tellock</string>
		<string>telanswer</string>
		<string>telemergency</string>
		<string>vmshow</string>
		<string>mobilephone-recents</string>
		<string>mobilephone-favorites</string>
		<string>telemergencycall</string>
	</array>
	<key>SBAppTags</key>
	<array>
		<string>any-telephony</string>
	</array>
	<key>SBBehavesAsCaller</key>
	<true/>
	<key>SBIsLaunchableDuringSetup</key>
	<true/>
	<key>SBMachServices</key>
	<array>
		<string>com.apple.mobilephone.migserver</string>
		<string>com.apple.uikit.viewservice.com.apple.mobilephone</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Productivity</string>
		<string>Business</string>
		<string>Social Networking</string>
	</array>
	<key>SBStarkLaunchModes</key>
	<array>
		<string>Default</string>
		<string>Siri</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>continuous</string>
	</array>
	<key>UIBackgroundStyle</key>
	<string>UIBackgroundStyleLightBlur</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIJetsamPriority</key>
	<integer>10</integer>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>TintColor</key>
			<dict>
				<key>Blue</key>
				<integer>1</integer>
				<key>Green</key>
				<integer>1</integer>
				<key>Red</key>
				<integer>1</integer>
			</dict>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewServiceUsesNSXPCConnection</key>
	<true/>
</dict>
</plist>
