<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Messages</string>
	<key>CFBundleExecutable</key>
	<string>MobileSMS</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon</string>
				<string>icon@2x</string>
				<string>Icon-Small</string>
				<string>Icon-Small@2x</string>
				<string>icon20</string>
				<string>icon20@2x</string>
			</array>
			<key>UIPrenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150.png</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon~ipad</string>
				<string>icon@2x~ipad</string>
				<string>icon50</string>
				<string>icon50@2x</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileSMS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes~ipad</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SMS URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sms</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~iphone</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SMS URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sms</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes~ipod</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SMS URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sms</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>NSPrincipalClass</key>
	<string>SMSApplication</string>
	<key>SBAppTags~ipad</key>
	<array/>
	<key>SBAppTags~iphone</key>
	<array/>
	<key>SBAppTags~ipod</key>
	<array/>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Productivity</string>
		<string>Utilities</string>
		<string>Social Networking</string>
	</array>
	<key>SBPreferredPriorityBand</key>
	<string>PriorityBandMail</string>
	<key>SBStarkLaunchModes</key>
	<array>
		<string>Siri</string>
	</array>
	<key>SBUsesNetwork~ipad</key>
	<integer>2</integer>
	<key>SBUsesNetwork~iphone</key>
	<integer>20</integer>
	<key>SBUsesNetwork~ipod</key>
	<integer>2</integer>
	<key>SPDatastoreVersion</key>
	<integer>1</integer>
	<key>SPSearchBundle</key>
	<string>SMSSearch</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipod</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
