<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>iTunes Store</string>
	<key>CFBundleExecutable</key>
	<string>MobileStore</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iTunesStore20.png</string>
				<string>iTunesStore29.png</string>
				<string>iTunesStore40.png</string>
				<string>iTunesStore58.png</string>
				<string>iTunesStore76.png</string>
				<string>iTunesStore80.png</string>
				<string>iTunesStore120.png</string>
				<string>iTunesStore152.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.MobileStore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleSignature</key>
	<string>MSTO</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>iTunes Music Store URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>itms</string>
				<string>itmss</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>SBAppTags</key>
	<array>
		<string>MusicStore</string>
	</array>
	<key>SBDomainsToPreheat</key>
	<array>
		<string>ax.init.itunes.apple.com</string>
		<string>itunes.apple.com</string>
	</array>
	<key>SBIsRevealable</key>
	<true/>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Lifestyle</string>
		<string>Music</string>
	</array>
	<key>SBUsesNetwork</key>
	<integer>11</integer>
	<key>UIApplicationDisableLegacyAutorotationKey</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleNewUIDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
