<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12C54</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Music</string>
	<key>CFBundleExecutable</key>
	<string>Music</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon-20.png</string>
				<string>Icon-29.png</string>
				<string>Icon-40.png</string>
				<string>Icon-58.png</string>
				<string>Icon-72.png</string>
				<string>Icon-76.png</string>
				<string>Icon-80.png</string>
				<string>Icon-120.png</string>
				<string>Icon-144.png</string>
				<string>Icon-152.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
		<key>SBStarkCanvasIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkCanvasIcon300x150.png</string>
			</array>
		</dict>
		<key>SBStarkGlyphIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>StarkGlyphIcon42x42.png</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Music</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Music</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Music Event URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>audio-player-event</string>
				<string>music</string>
				<string>itsradio</string>
				<string>itsradios</string>
				<string>itunesradio</string>
				<string>itunesradios</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CanInheritApplicationStateFromOtherProcesses</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A450</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0.internal</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1344i</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>SBMachServices</key>
	<array>
		<string>com.apple.tilt.aps</string>
		<string>com.apple.tilt.aps.dev</string>
		<string>com.apple.tilt.aps.demo</string>
		<string>com.apple.Music.MPMusicPlayerMigServer</string>
		<string>com.apple.Music.MPMusicPlayerControllerInternal</string>
	</array>
	<key>SBMatchingApplicationGenres</key>
	<array>
		<string>Music</string>
		<string>Entertainment</string>
	</array>
	<key>SBSpotlightIcons</key>
	<dict>
		<key>DOMAIN_AUDIOBOOK</key>
		<string>AudiobooksSpotlight</string>
		<key>DOMAIN_PODCAST</key>
		<string>PodcastsSpotlight</string>
	</dict>
	<key>SBStarkCapable</key>
	<true/>
	<key>UIApplicationIsOpaque</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>unboundedTaskCompletion</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
