<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12D78</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>OneNote</string>
	<key>CFBundleExecutable</key>
	<string>OneNote</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
		<string>Icon-72@2x.png</string>
		<string>Icon-Small.png</string>
		<string>Icon-Small@2x.png</string>
		<string>Icon-Small-50.png</string>
		<string>Icon-Small-50@2x.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.onenote</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>OneNote</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.5</string>
	<key>CFBundleSignature</key>
	<string>MSON</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.microsoft.launch.onenotephone</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>onenote</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2001005</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10B141</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.1</string>
	<key>DTSDKBuild</key>
	<string>10B141</string>
	<key>DTSDKName</key>
	<string>iphoneos6.1</string>
	<key>DTXcode</key>
	<string>0460</string>
	<key>DTXcodeBuild</key>
	<string>4H127</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MicrosoftBuildNumber</key>
	<string>131123</string>
	<key>MicrosoftLocalizationLCID</key>
	<string>1033</string>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSMainNibFile</key>
	<string>ONMainWindow</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Calibri Regular.ttf</string>
		<string>Fonts/Calibri Bold.ttf</string>
		<string>Fonts/Calibri Italic.ttf</string>
		<string>Fonts/Calibri Bold Italic.ttf</string>
		<string>Fonts/calibril.ttf</string>
		<string>Fonts/calibrili.ttf</string>
		<string>Fonts/cambria.ttc</string>
		<string>Fonts/Cambriab.TTF</string>
		<string>Fonts/Cambriai.TTF</string>
		<string>Fonts/Cambriaz.TTF</string>
		<string>Fonts/himalaya.ttf</string>
		<string>Fonts/Malgun Gothic.ttf</string>
		<string>Fonts/monbaiti.ttf</string>
		<string>Fonts/MS Gothic.ttf</string>
		<string>Fonts/msyi.ttf</string>
		<string>Fonts/MTEXTRA.TTF</string>
		<string>Fonts/PMingLiU.ttf</string>
		<string>Fonts/SimSun.ttf</string>
		<string>Fonts/tahoma.ttf</string>
		<string>Fonts/webdings.ttf</string>
		<string>Fonts/Wingdings.ttf</string>
		<string>Fonts/Wingdings 2.ttf</string>
		<string>Fonts/Wingdings 3.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
