<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>SkyDrive</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Icon.png</string>
				<string>Icon@2x.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Microsoft SkyDrive Documents</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.skydrive.doc</string>
				<string>com.microsoft.skydrive.pot</string>
				<string>com.microsoft.skydrive.pps</string>
				<string>com.microsoft.skydrive.xls</string>
				<string>com.microsoft.skydrive.rtf</string>
				<string>com.microsoft.skydrive.txt</string>
				<string>com.microsoft.skydrive.pdf</string>
				<string>com.microsoft.skydrive.photo</string>
				<string>com.microsoft.skydrive.video</string>
				<string>com.microsoft.skydrive.htm</string>
				<string>com.microsoft.skydrive.audio</string>
				<string>com.microsoft.skydrive.mail</string>
				<string>com.microsoft.skydrive.onenote</string>
				<string>com.microsoft.skydrive.other</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SkyDrive</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Settings</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>Icon-60@2x</string>
		<string>Settings</string>
		<string>Icon-76</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>Icon-72.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.microsoft.skydrive</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SkyDrive</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>4.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>4.0.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A465</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>7.0</string>
	<key>DTSDKBuild</key>
	<string>11A465</string>
	<key>DTSDKName</key>
	<string>iphoneos7.0</string>
	<key>DTXcode</key>
	<string>0500</string>
	<key>DTXcodeBuild</key>
	<string>5A1413</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<string>true</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.doc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>doc</string>
					<string>docm</string>
					<string>docx</string>
					<string>dot</string>
					<string>dotm</string>
					<string>dotx</string>
					<string>pub</string>
					<string>hwp</string>
					<string>odt</string>
					<string>lwp</string>
					<string>wps</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.pot</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pot</string>
					<string>potm</string>
					<string>potx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.onenote</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>one</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.pps</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pps</string>
					<string>ppsm</string>
					<string>ppsx</string>
					<string>ppt</string>
					<string>pptm</string>
					<string>pptx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.xls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xla</string>
					<string>xls</string>
					<string>xlsm</string>
					<string>xlsx</string>
					<string>xlt</string>
					<string>xltx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.rtf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>rtf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.txt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>txt</string>
					<string>log</string>
					<string>xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>pdf</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.photo</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>jpeg</string>
					<string>gif</string>
					<string>bmp</string>
					<string>tif</string>
					<string>png</string>
					<string>psd</string>
					<string>cr2</string>
					<string>nef</string>
					<string>cdr</string>
					<string>arw</string>
					<string>dng</string>
					<string>pef</string>
					<string>crw</string>
					<string>ithmb</string>
					<string>orf</string>
					<string>djvu</string>
					<string>jp2</string>
					<string>tiff</string>
					<string>ico</string>
					<string>pspimage</string>
					<string>dcm</string>
					<string>psp</string>
					<string>sr2</string>
					<string>rw2</string>
					<string>thm</string>
					<string>cpt</string>
					<string>pcx</string>
					<string>tga</string>
					<string>mrw</string>
					<string>pic</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.video</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>avi</string>
					<string>mp4</string>
					<string>3gp</string>
					<string>mpeg</string>
					<string>wmv</string>
					<string>mpg</string>
					<string>mov</string>
					<string>flv</string>
					<string>swf</string>
					<string>rm</string>
					<string>rmvb</string>
					<string>mkv</string>
					<string>3g2</string>
					<string>mts</string>
					<string>m4v</string>
					<string>rec</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>htm</string>
					<string>html</string>
					<string>mht</string>
					<string>chm</string>
					<string>url</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.audio</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mp3</string>
					<string>wma</string>
					<string>m4a</string>
					<string>wav</string>
					<string>flac</string>
					<string>ape</string>
					<string>ogg</string>
					<string>au</string>
					<string>oma</string>
					<string>aac</string>
					<string>amr</string>
					<string>imp</string>
					<string>mid</string>
					<string>mod</string>
					<string>m4p</string>
					<string>m4b</string>
					<string>rmj</string>
					<string>aif</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.mail</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>eml</string>
					<string>msg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.microsoft.skydrive.other</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rar</string>
					<string>zip</string>
					<string>exe</string>
					<string>dwg</string>
					<string>dat</string>
					<string>7z</string>
					<string>enc</string>
					<string>egg</string>
					<string>ttf</string>
					<string>gfs</string>
					<string>ai</string>
					<string>cbr</string>
					<string>lzh</string>
					<string>dgdr</string>
					<string>exe</string>
					<string>axx</string>
					<string>part</string>
					<string>zzz</string>
					<string>asf</string>
					<string>eps</string>
					<string>mnt</string>
					<string>jar</string>
					<string>wsl</string>
					<string>bak</string>
					<string>ipa</string>
					<string>pgp</string>
					<string>epub</string>
					<string>gcdpart_1</string>
					<string>smc</string>
					<string>daa</string>
					<string>bin</string>
					<string>apk</string>
					<string>csv</string>
					<string>atc</string>
					<string>gz</string>
					<string>pfc</string>
					<string>crp</string>
					<string>spt</string>
					<string>par2</string>
					<string>cab</string>
					<string>db</string>
					<string>dgd</string>
					<string>osz</string>
					<string>z64</string>
					<string>mobi</string>
					<string>tmp</string>
					<string>lrf</string>
					<string>package</string>
					<string>dcu</string>
					<string>gpg</string>
					<string>gsd</string>
					<string>cbz</string>
					<string>rsd</string>
					<string>stk</string>
					<string>max</string>
					<string>sldprt</string>
					<string>xdw</string>
					<string>dbf</string>
					<string>msi</string>
					<string>jm</string>
					<string>nes</string>
					<string>erf</string>
					<string>jww</string>
					<string>mdb</string>
					<string>lit</string>
					<string>wmf</string>
					<string>rpt</string>
					<string>zap</string>
					<string>otf</string>
					<string>jpe</string>
					<string>dxf</string>
					<string>fos</string>
					<string>xtm</string>
					<string>indd</string>
					<string>xz</string>
					<string>clk</string>
					<string>fss</string>
					<string>pjg</string>
					<string>cyp</string>
					<string>iff</string>
					<string>nc</string>
					<string>scr</string>
					<string>prc</string>
					<string>jtd</string>
					<string>slf</string>
					<string>mcd</string>
					<string>pdb</string>
					<string>ttc</string>
					<string>img</string>
					<string>pdg</string>
					<string>caj</string>
					<string>pk3</string>
					<string>arc</string>
					<string>fbf</string>
					<string>k3</string>
					<string>notebook</string>
					<string>pbl</string>
					<string>rrd</string>
					<string>aci</string>
					<string>ra</string>
					<string>slddrw</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
