<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12B19</string>
	<key>BuildVersion</key>
	<string>8815</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Wallet</string>
	<key>CFBundleExecutable</key>
	<string>Wallet</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>wallet_app_icon.png</string>
				<string>wallet_app_icon@2x.png</string>
				<string>wallet_app_icon-72.png</string>
				<string>wallet_app_icon-72@2x.png</string>
				<string>wallet_app_icon_Small.png</string>
				<string>wallet_app_icon_Small@2x.png</string>
				<string>wallet_app_icon_Small-50.png</string>
				<string>wallet_app_icon_Small-50@2x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.google.Wallet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Wallet</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleResourceSpecification</key>
	<string>ResourceRules.plist</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.12117</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.google.Wallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.google.sso.430117405715-1s8p492fhrbbbnkd0l2o8rtd8rkj728d</string>
				<string>comgooglewallet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0.12117.8815</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10A403</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A403</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G182</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2005-2013 Google Inc.</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
